{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}

	<div class="container">
		<p>
			{{ "symfony.great"|trans }}			
		</p>
		<a class="btn btn-primary" href="{{ path('change_page') }}">{{ "trans.but"|trans }}</a>
	</div>
	
{% endblock %}