{% extends 'base.html.twig' %}

{% block title %}{{ 'user.edit_title'|trans }}{% endblock %}

{% block body %}
	<div class="container">	
	    <h1>{{ 'user.edit_title'|trans }}</h1>
	    {{ include('user/_form.html.twig')}}
	</div>
{% endblock %}
